<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="152e67ef-b48e-4079-bdf0-e70aec93e409" Alias="appPage" Level="1">
  <Info>
    <Name>App Page</Name>
    <Icon>icon-app</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>appPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a90e488c-b7da-4456-af29-1d7d9555637f">appPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>