<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2047f9e5-c1f1-42d8-b34b-c1a0774eb386" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="dc739a61-1073-4e1f-9296-aee945fb8763">contentComposition</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8e0f7669-3943-4802-83b3-649768c80c02">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>