<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f90faa82-b8ba-464e-844f-28e0796c4718" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="dc739a61-1073-4e1f-9296-aee945fb8763">contentComposition</Composition>
    </Compositions>
    <DefaultTemplate>homePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e2a223c0-6a8b-4c5f-a409-bb64e98d66c1">homePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2047f9e5-c1f1-42d8-b34b-c1a0774eb386" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>