<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2e2ed10-ab43-4a86-aaaf-17e5af0becc6" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-19T07:05:16</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e2a223c0-6a8b-4c5f-a409-bb64e98d66c1">homePage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6335f9ed-9c0c-41b1-a602-d3d1d1a0afcd",
      "udi": "umb://element/dc664c8339fe493895804b86d8b062ef",
      "content": "{\u0022markup\u0022:\u0022\\u003Cp\\u003EHI\\u003C/p\\u003E\u0022,\u0022blocks\u0022:{\u0022contentData\u0022:[],\u0022settingsData\u0022:[],\u0022Layout\u0022:{}}}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/dc664c8339fe493895804b86d8b062ef",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </content>
  </Properties>
</Content>